* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  list-style: none;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  overflow: hidden;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 2rem;
}

.logo {
  width: 50px;
  cursor: pointer;
  /* margin: 0; */
}

.menuicon {
  width: 25px;
  cursor: pointer;
  display: none;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 30px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  cursor: pointer;
}

nav ul li a:hover {
  color: rgb(254, 5, 5);
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
}

.col1 {
  flex-basis: 40%;
  position: relative;
  margin-left: 50px;
}
.col1 h2 {
  font-size: 54px;
}
.col1 h3 {
  font-size: 30px;
  color: #707070;
  font-weight: 100;
  margin: 20px 0 10px;
}

.col1 p {
  font-size: 16px;
  color: #b7b7b7;
  font-weight: 100;
  margin: 30px 0;
}
/*.col-1 h4{
  margin: 30px 0;
  font-size: 20px;
} */
.col1 button {
  font-size: 17px;
  width: 135px;
  border: 0;
  padding: 12px 10px;
  outline: none;
  color: #fff;
  background: linear-gradient(to right, #fb5283, #ff3527);
  border-radius: 10px;
  cursor: pointer;
  transition: width 0.5s;
}

.col1 button img {
  width: 40px;
  display: none;
}

.col1 button:hover img {
  display: block;
}

.col1 button:hover {
  width: 190px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col1::after {
  content: '';
  width: 10px;
  height: 55%;
  border-radius: 10px 0px 0px 10px;
  background: linear-gradient(#fe79ba, #ff6062);
  position: absolute;
  left: -40px;
  top: 6px;
}

.col2 {
  position: relative;
  flex-basis: 60%;
  display: flex;
  align-items: center;
}

.col2 .controller {
  margin-top: -10%;
  width: 75%;
}
.colorbox {
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(#ff54a2, #ff575a);
  border-radius: 20px 0 0 20px;
  height: 100%;
  width: 80%;
  z-index: -1;
  transform: translateX(150px);
}
/* .add-btn img{
  width: 35px;
  margin-bottom: 5px;
}

.add-btn{
  text-align: center;
  color: #fff;
  cursor: pointer;
} */

.sociallinks img {
  height: 13px;
  margin: 2px;
  cursor: pointer;
}
.sociallinks {
  text-align: center;
}

@media only screen and (max-width: 700px) {
  nav ul {
    width: 100%;
    background: linear-gradient(
      rgba(255, 84, 162, 0.8),
      rgba(255, 87, 90, 0.8)
    );
    backdrop-filter: blur(5px);
    /* border-radius: 0 0 10px 10px; */
    position: absolute;
    top: 85px;
    right: 0;
    padding-block: 2rem;
    z-index: 2;
  }
  nav ul li {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a {
    color: #fff;
  }
  .menuicon {
    display: block;
  }
  .menuList {
    overflow: hidden;
    transition: 0.5s;
  }
  .row {
    flex-direction: column-reverse;
    margin: 140px 0;
  }
  .col2 {
    flex-basis: 100%;
    margin-bottom: 50px;
  }
  .col2 .controller {
    width: 77%;
  }
  .colorbox {
    height: 110%;
    transform: translateX(75px);
  }
  .col1 {
    flex-basis: 100%;
  }
  .col1 h2 {
    font-size: 35px;
  }
  .col1 h3 {
    font-size: 15px;
  }
}

/* SIGN UP FORM */

.container .title {
  font-size: 25px;
  font-weight: 700;
  position: relative;
}

.container .title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: linear-gradient(90deg, #f4e72b, #ce0172);
}

.max-width {
  max-width: 700px;
  margin: 0 auto;
}

/* .container form {
  max-width: 700px;
  margin: 0 auto;
} */

.container form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

input[type='file'] {
  background-color: none !important;
  position: relative;
}

input[type='file']:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

input[type='file']:after {
  content: 'Upload Image';
  position: absolute;
  color: #666666;
  top: 20%;
  left: 1rem;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.user-details .input-box .details {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 6px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus {
  border-color: #b10041;
}

form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}

form .gender-details .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}

.gender-details .category label {
  display: flex;
  align-items: center;
}

.gender-details .category .dot {
  height: 18px;
  width: 18px;
  background: #d9d9d9;
  border-radius: 50%;
  margin-right: 10px;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
  border-color: #d9d9d9;
  background: #3b3b3b;
}
form input[type='radio'] {
  display: none;
}

form .button {
  height: 45px;
  margin: 45px 0;
  align-items: center;
  justify-content: center;
}

form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 9px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  background: linear-gradient(135deg, #dfd320, #db2890);
  cursor: pointer;
}

/* form .button input:hover {
  
} */

@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  form .gender-details .category {
    width: 100%;
  }
  /* .container form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  } */
  .user-details::-webkit-scrollbar {
    width: 0;
  }
}

/* LOG IN */

.form-wrapper {
  width: 100%;
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-block: 5rem; */
}

.form-wrapper .center {
  padding-bottom: 1.5rem;
}

.sign-up-wrapper > .center {
  max-width: 800px;
  margin-block: 5rem;
}

.center {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 90%;
  max-width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 1px 4px 14px 6px rgb(0 0 0 / 5%);
}
.center h1 {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.center form {
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field {
  position: relative;
  border-bottom: 2px solid #7c7c7c;
  margin: 30px 0;
}
.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #7c7c7c;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}
.txt_field span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #e9236c;
  transition: 0.5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
  top: -5px;
  color: #e9236c;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
  width: 100%;
}
.pass {
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover {
  text-decoration: underline;
}

.full-width {
  width: 100%;
  display: flex;
  justify-content: center;
}

input[type='submit'] {
  width: 100%;
  max-width: 300px;
  height: 50px;
  border: 1px solid;
  background: linear-gradient(90deg, #f4e72b, #ce0172);
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type='submit']:hover {
  border-color: #2691d9;
  transition: 0.5s;
}
.signup_link {
  margin-top: 30px;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a {
  color: #e9236c;
  text-decoration: none;
}
.signup_link a:hover {
  color: #004a94;
}

.social-text {
  text-align: center;
  font-size: large;
  margin-block: 0.5rem;
}

.social-login {
  width: 80%;
  cursor: pointer;
  margin: 0 auto;
  border: 2px solid silver;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding-block: 0.45rem;
  margin-bottom: 2rem;
  transition: transform 250ms ease-in;
}

.social-login:hover {
  transform: translateY(-2px);
}

.social-login svg {
  fill: #ce0172;
}

/* MODAL */
.modal-wrapper {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px) brightness(70%);
}

.page-wrapper {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
}

.modal-body {
  width: 90%;
  max-width: 340px;
  background-color: #fff;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 1px 4px 14px 6px rgb(0 0 0 / 15%);
}

.modal-body p {
  width: 90%;
  margin: 0 auto;
  font-size: x-large;
  font-weight: 500;
  text-align: left;
}

.mainModalText {
  text-align: center !important;
  margin-bottom: 0.75rem !important;
}

.smallModaltext {
  font-size: small !important;
  text-align: center !important;
}
.modaltextgray {
  font-size: medium !important;
  color: #666666 !important;
  font-weight: 700 !important;
}

.modal-btn-conatiner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.modal-btn-conatiner button {
  width: 40%;
  background: unset;
  border: unset;
  padding: 0.45rem 0.5rem;
  border-radius: 25px;
  cursor: pointer;
}

.modal-btn-conatiner button:nth-child(1) {
  outline: 2px solid #db2890;
}

.modal-btn-conatiner button:nth-child(2) {
  background: linear-gradient(90deg, #f4e72b, #ce0172);
  color: white;
  font-weight: 600;
}

/* CONTACT US */
.contact-section {
  width: 100%;

  display: flex;

  justify-content: center;

  align-items: center;
  padding-bottom: 2rem;
}

.contact-info {
  /* color: #fff; */

  max-width: 500px;

  line-height: 65px;

  padding-left: 50px;

  font-size: 18px;
}

.contact-info img {
  max-width: 250px;
  margin: 0 auto;
}

.contact-info i {
  margin-right: 20px;

  font-size: 25px;
}

.contact-info div {
  font-size: 1.75rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contact-form {
  max-width: 700px;

  /* margin-right: 50px; */
}

.contact-info,
.contact-form {
  flex: 1;
}

.contact-form h2 {
  color: #fff;

  text-align: center;

  font-size: 35px;

  text-transform: uppercase;

  margin-bottom: 30px;
}

.contact-form .text-box {
  background: rgb(21, 21, 21);

  color: #fff;

  border: none;

  width: calc(50% - 10px);

  height: 50px;

  padding: 12px;

  font-size: 15px;

  border-radius: 5px;

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

  margin-bottom: 20px;

  opacity: 0.9;
}

.contact-form .text-box:first-child {
  margin-right: 15px;
}

.contact-form textarea {
  background: rgb(21, 21, 21);

  color: #fff;

  border: none;

  width: 100%;

  padding: 12px;

  font-size: 15px;

  min-height: 200px;

  max-height: 400px;

  resize: vertical;

  border-radius: 5px;

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

  margin-bottom: 20px;

  opacity: 0.9;
}

.contact-form .send-btn {
  float: right;
  background: rgb(21, 21, 21);

  color: #fff;

  border: none;

  width: 120px;

  height: 40px;

  font-size: 15px;

  font-weight: 600;

  text-transform: uppercase;

  letter-spacing: 2px;

  border-radius: 5px;

  cursor: pointer;

  transition: 0.3s;

  transition-property: background;
}

.contact-form .send-btn:hover {
  background: #0582e3;
}

@media screen and (max-width: 950px) {
  .contact-section {
    flex-direction: column;
  }

  .contact-info {
    padding-left: 0 !important;
  }

  .contact-info div {
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .contact-info img {
    max-width: 200px;
  }

  /* .contact-info,
  .contact-form {
    margin: 30px 50px;
  } */

  .contact-form h2 {
    font-size: 30px;
  }

  .contact-form .text-box {
    width: 100%;
  }
}

.alert-success {
  z-index: 1;

  background: #d4edda;

  font-size: 18px;

  padding: 20px 40px;

  min-width: 420px;

  position: fixed;

  right: 0;

  top: 10px;

  border-left: 8px solid #3ad66e;

  border-radius: 4px;
}

.alert-error {
  z-index: 1;

  background: #fff3cd;

  font-size: 18px;

  padding: 20px 40px;

  min-width: 420px;

  position: fixed;

  right: 0;

  top: 10px;

  border-left: 8px solid #ffa502;

  border-radius: 4px;
}
